<template>
<v-flex sm12>
    <v-card>

        <v-card-title>
            {{$route.name.toUpperCase()}}
            <div class="flex-grow-1"></div>
            <v-btn color="primary" @click="$router.push('/admin/universidade')">Cadastrar nova</v-btn>
        </v-card-title>

        <v-flex xs12 md4 class="px-4 ml-auto">
            <v-text-field v-model="search" append-icon="search" label="Pesquisar" single-line hide-details></v-text-field>
        </v-flex>

        <v-data-table :headers="headers" :items="items" :search="search" :loading="loading" loading-text="Buscando dados..." no-results-text="Nenhum dado encontrado." no-data-text="Nenhum dado para mostrar." sort-by-text="Ordenar por">
            <template v-slot:item.logo="{ item }">
                <v-img width="2rem" :src="item.logo"></v-img>
            </template>
            <template v-slot:item.id="{ item }">
                <v-icon @click="edit(item.id)">edit</v-icon>
                <!-- <v-icon @click="">delete</v-icon> -->
            </template>
        </v-data-table>
    </v-card>
</v-flex>
</template>

<script>
export default {
    data: () => ({
        page: 1,
        search: '',
        headers: [],
        items: [],
        total: 0,
        perPage: 5,
        loading: true,
    }),
    methods: {
        async getData() {
            this.loading = true;
            const response = (await this.$http.get('institutions'));
            this.items = response.data.institutions;

            this.headers = [{
                text: 'Logo',
                align: 'left',
                sortable: false,
                value: 'logo',
            }, {
                text: 'Nome',
                align: 'left',
                sortable: true,
                value: 'name',
            }, {
                text: 'País',
                align: 'left',
                sortable: true,
                value: 'address.country',
            }, {
                text: 'Estado/Província',
                align: 'left',
                sortable: true,
                value: 'address.province',
            }, {
                text: 'Ações',
                align: 'center',
                sortable: false,
                value: 'id',
            }];

            this.loading = false;
        },
        edit(id) {
            this.$router.push(`/admin/universidade/${id}`);
        }
    },
    mounted() {
        this.getData();
    },
}
</script>
