<template>
  <v-flex sm12>
    <v-card class="pb-2">
      <v-card-title>{{$route.name.toUpperCase()}}</v-card-title>

      <v-container>
        <v-row class="px-4">
          <v-flex xs12 v-show="loading.value > 0">
            <v-progress-linear
              :indeterminate="loading.value == 100"
              :height="5"
              v-model="loading.value"
            ></v-progress-linear>
          </v-flex>
          <v-row>
            <v-flex xs12>
              <v-col xs="12">
                <v-select
                  :items="users"
                  item-text="name"
                  v-model="form.user_id"
                  item-value="id"
                  label="Selecione a pessoa do time"
                ></v-select>
              </v-col>
            </v-flex>
            <v-flex xs12>
              <v-col xs="12">
                <v-select
                  :items="team"
                  item-text="team"
                  v-model="form.team_id"
                  item-value="id"
                  label="Selecione a pessoa do time"
                ></v-select>
              </v-col>
            </v-flex>
            <v-col xs="6">
              <v-text-field v-model="form.total_tasks" label="Qual total de tarefas essa semana ?"></v-text-field>
            </v-col>
            <v-col xs="6">
              <v-text-field
                v-model="form.finished_tasks"
                label="Qual total de finalizadas essa semana ?"
              ></v-text-field>
            </v-col>
          </v-row>

          <v-flex xs12 class="mt-2">
            <v-btn
              :loading="loading.value > 0"
              :disabled="loading.value > 0"
              color="success"
              class="white--text"
              @click.prevent="submit()"
            >
              <v-icon left>save</v-icon>Salvar
            </v-btn>

            <v-btn color="error" class="white--text" @click.prevent="goBack()">
              <v-icon left>arrow_back</v-icon>Cancelar
            </v-btn>
          </v-flex>
        </v-row>
      </v-container>
    </v-card>
  </v-flex>
</template>

<script>
export default {
  data: () => ({
    loading: {
      value: 0,
      status: false
    },
    form: {},
    loading: true,
    users: [],
    team: [],

  }),
  methods: {
    async getData() {
      if (this.$route.params.id) {
        this.form = (await this.$http.get(
          `taskscore/${this.$route.params.id}`
        )).data;
      }
      this.loading = false;
    },
    async getUsers() {
      this.users = (await this.$http.get(`user`)).data;
    },
    async getTeams() {
      this.team = (await this.$http.get(`team`)).data;
    },
    async submit() {
      const vue = this;
      const headers = {
        onUploadProgress: progressEvent => {
          vue.loading.value = parseInt(
            Math.round((progressEvent.loaded * 100) / progressEvent.total)
          );
        }
      };

      let status;
      try {
        if (vue.form.id) {
          status = (await this.$http.put(
            `taskscore/${this.form.id}`,
            this.form,
            headers
          )).status;
        } else {
          status = (await this.$http.post("taskscore", this.form, headers))
            .status;
        }
      } catch (e) {
        status = e.response.status;
      }

      if (status == 200) {
        this.goBack();
      } else {
        console.log(status);
      }
    },
    goBack() {
      window.history.go(-1);
    }
  },
  mounted() {
    this.getData();
    this.getUsers();
    this.getTeams();
    const vue = this;
  }
};
</script>
