<template>
<v-flex sm12>
    <v-card>

        <v-card-title>
            {{$route.name.toUpperCase()}}
            <div class="flex-grow-1"></div>
            <v-btn color="primary" @click="$router.push('/admin/taskscore')">Cadastrar nova</v-btn>
        </v-card-title>

        <v-flex xs12 md4 class="px-4 ml-auto">
            <v-text-field v-model="search" append-icon="search" label="Pesquisar" single-line hide-details></v-text-field>
        </v-flex>

        <v-data-table :headers="headers" :items="items" :search="search" :loading="loading" loading-text="Buscando dados..." no-results-text="Nenhum dado encontrado." no-data-text="Nenhum dado para mostrar." sort-by-text="Ordenar por">
            <template v-slot:item.logo="{ item }">
                <v-img width="2rem" :src="item.logo"></v-img>
            </template>
            <template v-slot:item.id="{ item }">
                <v-icon @click="edit(item.id)">edit</v-icon>
                <!-- <v-icon @click="delete()">delete</v-icon> -->
            </template>
        </v-data-table>
    </v-card>
</v-flex>
</template>

<script>
export default {
    data: () => ({
        page: 1,
        search: '',
        headers: [],
        items: [],
        total: 0,
        perPage: 5,
        loading: true,
    }),
    methods: {


        async getData() {
            this.loading = true;
            const response = (await this.$http.get('scores'));
            this.items = response.data;

            this.headers = [{
                text: 'Nome',
                align: 'left',
                sortable: false,
                value: 'user.name',
            },
            , {
                text: 'Time',
                align: 'left',
                sortable: true,
                value: 'team.team',
            },{
                text: 'Total Tasks',
                align: 'left',
                sortable: true,
                value: 'total_tasks',
            }, {
                text: 'Finished Tasks',
                align: 'left',
                sortable: true,
                value: 'finished_tasks',
            }, {
                text: 'Score',
                align: 'left',
                sortable: true,
                value: 'score',
            },{
                text: 'Status',
                align: 'center',
                sortable: false,
                value: 'status',
            },
            {
                text: 'Data',
                align: 'center',
                sortable: false,
                value: 'created_at',
            }, {
                text: 'Ações',
                align: 'center',
                sortable: false,
                value: 'id',
            }];

            this.loading = false;
        },
        edit(id) {
            this.$router.push(`/admin/scores/${id}`);
        }
    },
    mounted() {
        this.getData();
    },
}
</script>
